# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate

ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: false
  autoupdate_branch: 'main'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: ["pylint", "pylint-tests"]
  submodules: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args: ["--profile", "black", "--line-length", "80", "--filter-files", "--skip-gitignore"]

  - repo: https://github.com/ambv/black
    rev: 24.2.0
    hooks:
    - id: black
      args: ["--line-length", "80"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^oteapi_dlite/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.7.4
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=oteapi_dlite
      - --full-docs-folder=models
      - --full-docs-folder=strategies
    - id: docs-landing-page
      args:
      - --replacement=(LICENSE),(LICENSE.md)
      - --replacement=https://EMMC-ASBL.github.io/oteapi-dlite/latest/,

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--extension-pkg-whitelist='pydantic'"
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--extension-pkg-whitelist='pydantic'"
      - "--disable=import-outside-toplevel,redefined-outer-name,import-error"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$
