griffe<1.0  # This is necessary until mkdocstrings fully supports griffe v1
invoke~=2.2
mike~=2.0
mkdocs~=1.5
mkdocs-awesome-pages-plugin~=2.9
mkdocs-material~=9.5
mkdocstrings[python]~=0.24.1
pre-commit~=3.6
