name: CD - Publish

on:
  release:
    types:
    - published

jobs:
  build:
    name: External
    uses: SINTEF/ci-cd/.github/workflows/cd_release.yml@v2.9.2
    if: github.repository == 'EMMC-ASBL/oteapi-dlite' && startsWith(github.ref, 'refs/tags/v')
    with:
      # General
      git_username: "${{ vars.CI_CD_GIT_USER }}"
      git_email: "${{ vars.CI_CD_GIT_EMAIL }}"
      release_branch: master
      install_extras: "[dev]"

      # Build package
      python_package: true
      package_dirs: oteapi_dlite
      python_version_build: "3.10"
      build_libs: "flit"
      build_cmd: "flit build"
      build_dir: "dist"
      changelog_exclude_labels: "skip_changelog,duplicate,question,invalid,wontfix"
      publish_on_pypi: false
      upload_distribution: true

      # Build & publish documentation
      update_docs: true
      python_version_docs: "3.10"
      doc_extras: "[docs]"
      docs_framework: mkdocs
    secrets:
      PAT: ${{ secrets.RELEASE_PAT }}

  publish:
    name: Publish to PyPI
    needs: build
    runs-on: ubuntu-latest

    # Using environments is recommended by PyPI when using Trusted Publishers
    environment:
      name: pypi
      url: https://pypi.org/project/oteapi-dlite

    # The id-token:write permission is required by the PyPI upload action for
    # Trusted Publishers
    permissions:
      id-token: write

    steps:
      - name: Download distribution
        uses: actions/download-artifact@v8
        with:
          name: dist  # The artifact will always be called 'dist'
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
